body{
    font-family: "Open Sans", sans-serif;
}

.Primary-color{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px ;
    
}
nav>ul{
    display: flex;
    align-items: center;
    margin-left: 100px;
}
ul>li>a{
 margin-right: 100px;
 text-decoration: none;
 text-align: center;
 color: black;
 font-size: 20px;
 font-weight: 800px;
}
nav li{
    list-style: none ;

}
/* header part  */
.header{
    background: #FFF8F3 ;
}
/* .nav-title{
    color: black;
} */
.banner{
    padding: 30px 30px 30px 80px;
    display: flex;
}
.profile-pic{
    width: 800px;
}