body{
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    padding: 0px;
}

.Primary-color{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px ;
    
}
nav>ul{
    display: flex;
    align-items: center;
    margin-left: 100px;
}
ul>li>a{
 margin-right: 100px;
 text-decoration: none;
 text-align: center;
 color: black;
 font-size: 20px;
 font-weight: 800px;
}
nav li{
    list-style: none ;

}
/* header part  */
.header{
    background: #FFF8F3 ;
}
/* .nav-title{
    color: black;
} */
.banner{
    padding: 30px 30px 30px 80px;
    display: flex;
}
.profile-pic{
    width: 800px;
}
.about{
    max-width: 800px;
    max-height: 540px;
    background: #FFF8F3;
    padding: 30px;
    margin-top: 100px;
    text-align: center;
    margin-left: 180px;
}
main{
    /* background:#FFF8F3 ; */
    text-align: center;
}
.about-pra{
    font: size 18px; ;
    font-family: 300;
    padding: 0px 50px 50px 50px;
    
}
.hardi-info{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.hardy-info-pra{
    font-size: 12px;
    font-weight: 200;
}
.Hardy-info-h{
    font-size: 12px;
    font-weight: 700;
}
.what{
    margin: 100px 300px 300px 300px;
}
.what-title{
    font-size: 35px;
    font-weight: bold;
}
.what-pra{
    font-size: 18;
}
/* skill part  */
.skill-part{
    display: flex;
   justify-content: space-around;
   gap: 20px;
}
.skill-js{
    text-align: center;

}
.skill-headline{
    font-size: 15px;
    font-weight: bold;
}
.skill-paragraph{
    font size: 16px;
    font-weight: 300;
    text-align: left;
}
.resume{
    font: 30px;
    font-weight: bold;
    text-align: center;
}
.resume-descripton{
    display: flex;
}
.education{
    text-align: left;
    font: 20px;
    font-weight: bold;
    padding-left: 200px;
}
.engineering{0px
    font: 15px;
    font-weight: bold;
    width: auto;
    text-align:left;
    /* width: 200px 200px 200px 200px; */
    padding-left: 200px;
    width: 600px;
    
}
#footer-bg{
    background:#FFF8F3 ;
    padding: 50px;
}
.footer-right-part{
    display: flex;
    margin-left: 50px;

}
.footer-box,textarea{
    display:flex;
    display: block;
    width: 200px;
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    
     
}
.footer-left{
    width: 50%;
}
.footer-right{
    width: 50%;
}
.input1{
    margin-bottom: 25px;
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 10px;
}
.input2{
    margin-bottom: 25px;
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 10px;
}


